@import "tailwindcss";

@theme {
  --color-dark:#1f221f;
  --color-light:#fef1f1;
  --color-primary:#e11818;
  --color-secondary:#801d1c;
  --color-tertiary:#F08C8C;

  --font-display: "Teko", sans-serif;
  --font-body: "Karla", sans-serif;
  --font-jft: "Playwrite US Trad", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1170px;
}


body {
  @apply font-body  text-dark;
}

 .menu li a{
  @apply hover:text-primary  duration-200
 }
 .router-link-active{
  @apply text-primary
 }
 .site-title.router-link-active{
  @apply text-light ;
 }
 .btn{
  @apply bg-primary text-light py-3 px-5  hover:bg-dark hover:text-light cursor-pointer  duration-200 w-max ;
 }

 .input{
  @apply  text-light py-2 w-full border-b border-light/50;
 }
 
 select option{
  @apply text-dark hover:bg-light aria-selected:bg-light;
 }


 .slide-enter-active,
.slide-leave-active {
 
  @apply duration-300 translate-x-0 ;
}

.slide-enter-from,
.slide-leave-to {
    @apply -translate-x-full ;
  
}

.slide-up-enter-active,
.slide-up-leave-active {
  @apply transition-all duration-500 ease-in-out;
}
.slide-up-enter-from,
.slide-up-leave-to {
  @apply translate-y-0 ;
}
.slide-up-leave-from {
  @apply translate-y-0 opacity-100;
}
.slide-up-leave-to {
  @apply -translate-y-full opacity-0;
}
/* transition slide right active ----*/

 .slide-right-enter-active,
.slide-right-leave-active {
  @apply duration-300 translate-x-0 ease-in ;
}

.slide-right-enter-from,
.slide-right-leave-to {
    @apply translate-x-full ;
}

